/* General body styling */ 
body { 
    font-family: Arial;
    margin: 0;
     background: #fdf4f6; 
    }
     /* Header styling */ 
header {
     display: flex; 
     justify-content: space-between; 
     padding: 15px; 
     background: white;
     } 

     /* Navigation links */
     nav a { 
        margin: 10px; 
        text-decoration: none; 
        color: black; 
    }

    /* Hero section */ 
    .hero { 
        text-align: center; 
        padding: 50px; 
    }
    
    /* Highlight text */ 
    .hero span { 
        color: pink; 
    } 
    
    /* Product layout */ 
    .products { 
        display: flex; 
        gap: 20px; 
        justify-content: center; 
    }

    /* Individual product card */ 
    .card { 
        background: white; 
        padding: 15px; 
        border-radius: 10px; 
    } 
    
    /* Buttons */ 
    button { 
        background: pink; 
        border: none; 
        padding: 10px; 
        cursor: pointer; 
    }